#header {
  color: white;
  background: #00291C;
  font-family: 'Quicksand', sans-serif;
  border-bottom: 10px solid black;
}

.top-buffer {
  margin-top: 20px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

#footer {
  color: white;
  background:#849E95;
  border-top: 10px solid black;
}

.contact-links {
  color: white;
}

hr {
  background-color: black;
  size: 4;
  border-top: 1px solid black;
}

.profileimage {
  width: 75%;
  height: 75%;
}

.profileimage2 {
  width: 300px;
  height: 300px;
}

.article-links {
  color: #00291C;
}
